node-red
[{"id":"3c202385.bfe93c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e1a8313a.99fa6","type":"tab","label":"Helix","disabled":false,"info":""},{"id":"97c87af6.fb6d28","type":"tab","label":"Ampel","disabled":false,"info":""},{"id":"b9a16896.7b85a8","type":"tab","label":"Suckulent","disabled":false,"info":""},{"id":"bc2020fd.9d55a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#192b18","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Courier,monospace","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#192b18","edited":true},"page-titlebar-backgroundColor":{"value":"#192b18","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#365c33","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#192b18","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"18ee9cbd.6b8ab3","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"6","collapse":false},{"id":"39fba7c.ea4ee58","type":"mqtt-broker","z":"","name":"mqtt-pi","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"vg/post","birthQos":"0","birthPayload":"1","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"20669e33.73d042","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"6f638a9c.a0ca24","type":"ui_group","z":"","name":"Audio","tab":"","disp":true,"width":"6","collapse":false},{"id":"21a1464.8b8afba","type":"ui_group","z":"","name":"Demo","tab":"","disp":true,"width":"6","collapse":false,"disabled":false,"hidden":false},{"id":"74ce1230.88dc2c","type":"mqtt-broker","z":"","name":"temp","broker":"192.168.1.82","port":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f8eeb505.ffff48","type":"mqtt-broker","z":"","name":"ventilation","broker":"192.168.1.82","port":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"fan","birthQos":"0","birthRetain":"true","birthPayload":"0","closeTopic":"fan","closeQos":"0","closeRetain":"true","closePayload":"3","willTopic":"fan","willQos":"0","willRetain":"true","willPayload":"2"},{"id":"e2afcb40.50a898","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"b539efa2.4b1d2","type":"ui_group","z":"","name":"ventilation","tab":"","disp":true,"width":"6","collapse":false},{"id":"b02ff73d.cbfb48","type":"ui_group","z":"","name":"Rpi","tab":"","disp":true,"width":"6","collapse":false},{"id":"87407c9b.5cc93","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"129d41e0.61293e","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"583304a4.d9ea6c","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"5d9ce079.64449","type":"ui_group","z":"","name":"Details","tab":"","disp":true,"width":"6","collapse":false},{"id":"f197d61d.013d78","type":"ui_group","z":"","name":"History","tab":"","disp":true,"width":"6","collapse":true},{"id":"89fb5460.e63be8","type":"ui_spacer","name":"spacer","group":"583304a4.d9ea6c","order":1,"width":1,"height":1},{"id":"7fbde02a.8e1ab","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"d9968636.fe4f48","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"7ea6e648.0203e8","type":"ui_group","z":"","name":"Details","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"bb8b01c5.f947c","type":"ui_group","z":"","name":"History","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"b3effb0f.ed2e08","type":"ui_group","z":"","name":"Details","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"e30ed5e1.e74d18","type":"ui_group","z":"","name":"History","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"92c76e4b.25075","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"c56af870.0c7988","type":"ui_group","z":"","name":"Audio","tab":"","disp":true,"width":"6","collapse":false},{"id":"3a071e09.443662","type":"ui_group","z":"","name":"Demo","tab":"","disp":true,"width":"6","collapse":false,"disabled":false,"hidden":false},{"id":"c5f652ca.c87eb","type":"mqtt-broker","z":"","name":"temp","broker":"192.168.1.82","port":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ac5626b6.08e508","type":"mqtt-broker","z":"","name":"ventilation","broker":"192.168.1.82","port":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"fan","birthQos":"0","birthRetain":"true","birthPayload":"0","closeTopic":"fan","closeQos":"0","closeRetain":"true","closePayload":"3","willTopic":"fan","willQos":"0","willRetain":"true","willPayload":"2"},{"id":"e6914406.7d0c38","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"cfca46a7.779628","type":"ui_group","z":"","name":"ventilation","tab":"","disp":true,"width":"6","collapse":false},{"id":"d5e99bf1.266cf8","type":"ui_group","z":"","name":"Rpi","tab":"","disp":true,"width":"6","collapse":false},{"id":"3a7308b1.4063c8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"c6f19e5b.f614b","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"54387d87.1348b4","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"17896b15.ce00a5","type":"ui_group","z":"","name":"Details","tab":"","disp":true,"width":"6","collapse":false},{"id":"fb282c72.4fda1","type":"ui_group","z":"","name":"History","tab":"","disp":true,"width":"6","collapse":true},{"id":"30eb7be5.2eb054","type":"ui_spacer","name":"spacer","group":"54387d87.1348b4","order":1,"width":1,"height":1},{"id":"71c0af1c.e01c9","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"42d9bbfe.d81934","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"46f38f1f.0e6ef","type":"ui_group","z":"","name":"Details","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"86a2fec.fdb18","type":"ui_group","z":"","name":"History","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"88a61e52.6ea41","type":"ui_group","z":"","name":"Details","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"3c852852.f88798","type":"ui_group","z":"","name":"History","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"22bc02a2.79815e","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"594a26ef.d6fbd8","type":"ui_group","z":"","name":"Audio","tab":"","disp":true,"width":"6","collapse":false},{"id":"abaf3a9d.c604e8","type":"ui_group","z":"","name":"Demo","tab":"","disp":true,"width":"6","collapse":false,"disabled":false,"hidden":false},{"id":"69e265c.777829c","type":"mqtt-broker","z":"","name":"temp","broker":"192.168.1.82","port":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7d86d1c7.cb726","type":"mqtt-broker","z":"","name":"ventilation","broker":"192.168.1.82","port":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"fan","birthQos":"0","birthRetain":"true","birthPayload":"0","closeTopic":"fan","closeQos":"0","closeRetain":"true","closePayload":"3","willTopic":"fan","willQos":"0","willRetain":"true","willPayload":"2"},{"id":"182600c2.1d0a0f","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"18b236ee.10caa9","type":"ui_group","z":"","name":"ventilation","tab":"","disp":true,"width":"6","collapse":false},{"id":"c6d11284.777db","type":"ui_group","z":"","name":"Rpi","tab":"","disp":true,"width":"6","collapse":false},{"id":"858338e6.4fa708","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"b8b449fb.98ee68","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"cd15a4f4.ba4b58","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"46fa825f.adef2c","type":"ui_group","z":"","name":"Details","tab":"","disp":true,"width":"6","collapse":false},{"id":"6a82711f.d7f3","type":"ui_group","z":"","name":"History","tab":"","disp":true,"width":"6","collapse":true},{"id":"80b89781.f33008","type":"ui_spacer","name":"spacer","group":"cd15a4f4.ba4b58","order":1,"width":1,"height":1},{"id":"9f046be6.0b44f8","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"74abec48.c6b4b4","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"99e0ee7e.52e33","type":"ui_group","z":"","name":"Details","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"dadf90f1.5c37b","type":"ui_group","z":"","name":"History","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"62f56ac6.d898c4","type":"ui_group","z":"","name":"Details","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"63281a54.ad6314","type":"ui_group","z":"","name":"History","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"c74adfdf.7a13c","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"18499cc4.215693","type":"ui_group","z":"","name":"Audio","tab":"","disp":true,"width":"6","collapse":false},{"id":"2480ea25.a99d36","type":"ui_group","z":"","name":"Demo","tab":"","disp":true,"width":"6","collapse":false,"disabled":false,"hidden":false},{"id":"c389990b.565258","type":"mqtt-broker","z":"","name":"temp","broker":"192.168.1.82","port":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"81371a35.b111e8","type":"mqtt-broker","z":"","name":"ventilation","broker":"192.168.1.82","port":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"fan","birthQos":"0","birthRetain":"true","birthPayload":"0","closeTopic":"fan","closeQos":"0","closeRetain":"true","closePayload":"3","willTopic":"fan","willQos":"0","willRetain":"true","willPayload":"2"},{"id":"c15cfff6.b76a6","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"b82b120a.32b62","type":"ui_group","z":"","name":"ventilation","tab":"","disp":true,"width":"6","collapse":false},{"id":"a329329.9d1a5d","type":"ui_group","z":"","name":"Rpi","tab":"","disp":true,"width":"6","collapse":false},{"id":"c56839e2.db9db8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"dccde84e.a6a088","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"dc6f5078.b0799","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"83a6d305.ddc3b","type":"ui_group","z":"","name":"Details","tab":"","disp":true,"width":"6","collapse":false},{"id":"99dcb22b.d04ea","type":"ui_group","z":"","name":"History","tab":"","disp":true,"width":"6","collapse":true},{"id":"80197164.c89ca","type":"ui_spacer","name":"spacer","group":"dc6f5078.b0799","order":1,"width":1,"height":1},{"id":"14641569.6f49fb","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"1ca40b1a.03f665","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"627968c3.52ea48","type":"ui_group","z":"","name":"Details","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"c86d22fa.ab194","type":"ui_group","z":"","name":"History","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"1d778da9.199672","type":"ui_group","z":"","name":"Details","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"bb7a72c7.fcff2","type":"ui_group","z":"","name":"History","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"613cd2c3.fe103c","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"dd494255.65388","type":"ui_group","z":"","name":"Audio","tab":"","disp":true,"width":"6","collapse":false},{"id":"ed9e809a.74325","type":"ui_group","z":"","name":"Demo","tab":"","disp":true,"width":"6","collapse":false,"disabled":false,"hidden":false},{"id":"676d5486.cbcc4c","type":"mqtt-broker","z":"","name":"temp","broker":"192.168.1.82","port":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4cba51af.9229c","type":"mqtt-broker","z":"","name":"ventilation","broker":"192.168.1.82","port":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"fan","birthQos":"0","birthRetain":"true","birthPayload":"0","closeTopic":"fan","closeQos":"0","closeRetain":"true","closePayload":"3","willTopic":"fan","willQos":"0","willRetain":"true","willPayload":"2"},{"id":"30882a73.592276","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"553a8cd9.b8c6a4","type":"ui_group","z":"","name":"ventilation","tab":"","disp":true,"width":"6","collapse":false},{"id":"dbe2d093.9a895","type":"ui_group","z":"","name":"Rpi","tab":"","disp":true,"width":"6","collapse":false},{"id":"5c176594.11dabc","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"e50b8d9a.fcdd5","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"d8b07d60.eea2b","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"940cb3c7.bdbb2","type":"ui_group","z":"","name":"Details","tab":"","disp":true,"width":"6","collapse":false},{"id":"ea8b73ea.51c98","type":"ui_group","z":"","name":"History","tab":"","disp":true,"width":"6","collapse":true},{"id":"86dc86e4.8fc198","type":"ui_spacer","name":"spacer","group":"d8b07d60.eea2b","order":1,"width":1,"height":1},{"id":"483d0d34.f15dc4","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"79d601b4.193a9","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"2067b064.60015","type":"ui_group","z":"","name":"Details","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"e44cce35.54e0b","type":"ui_group","z":"","name":"History","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"57c86455.d4e18c","type":"ui_group","z":"","name":"Details","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"273a1a58.dd8346","type":"ui_group","z":"","name":"History","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"db701291.911fb","type":"ui_group","name":"Group 4","tab":"","order":4,"disp":true,"width":6},{"id":"fd94743b.5984b8","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"f0baf61.b8a4f08","type":"ui_group","z":"","name":"Audio","tab":"","disp":true,"width":"6","collapse":false},{"id":"82048ad2.9b7798","type":"ui_group","z":"","name":"Demo","tab":"","disp":true,"width":"6","collapse":false,"disabled":false,"hidden":false},{"id":"6b43b1f0.ee2d4","type":"mqtt-broker","z":"","name":"temp","broker":"192.168.1.82","port":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2005e9da.155236","type":"mqtt-broker","z":"","name":"ventilation","broker":"192.168.1.82","port":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"fan","birthQos":"0","birthRetain":"true","birthPayload":"0","closeTopic":"fan","closeQos":"0","closeRetain":"true","closePayload":"3","willTopic":"fan","willQos":"0","willRetain":"true","willPayload":"2"},{"id":"e2394f9b.ffaa2","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"2c72351d.33bf2a","type":"ui_group","z":"","name":"ventilation","tab":"","disp":true,"width":"6","collapse":false},{"id":"7bbd7de6.77b564","type":"ui_group","z":"","name":"Rpi","tab":"","disp":true,"width":"6","collapse":false},{"id":"2be852d3.85f3ce","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"858a7a19.2b7008","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"13d9c078.0b9de","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c821ff66.520ca","type":"ui_group","z":"","name":"Details","tab":"","disp":true,"width":"6","collapse":false},{"id":"62ebbf9b.fbc32","type":"ui_group","z":"","name":"History","tab":"","disp":true,"width":"6","collapse":true},{"id":"67efce28.24b8c","type":"ui_spacer","name":"spacer","group":"13d9c078.0b9de","order":1,"width":1,"height":1},{"id":"365e415e.3a48be","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e9bc12c8.1d96e","type":"ui_group","z":"","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"8392a0ab.a62fa","type":"ui_group","z":"","name":"Details","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"492930a4.f9e97","type":"ui_group","z":"","name":"History","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"9c0a1573.d48d08","type":"ui_group","z":"","name":"Details","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"4b2687f5.501c88","type":"ui_group","z":"","name":"History","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"dc175f3c.3447b","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"ba9c2e43.70725","type":"ui_group","z":"","name":"Audio","tab":"","disp":true,"width":"6","collapse":false},{"id":"af115960.aab438","type":"ui_group","z":"","name":"Demo","tab":"","disp":true,"width":"6","collapse":false,"disabled":false,"hidden":false},{"id":"23fcf9dc.f7e0f6","type":"mqtt-broker","z":"","name":"temp","broker":"192.168.1.12","port":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ec97ad07.baf37","type":"mqtt-broker","z":"","name":"ventilation","broker":"192.168.1.82","port":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"fan","birthQos":"0","birthRetain":"true","birthPayload":"0","closeTopic":"fan","closeQos":"0","closeRetain":"true","closePayload":"3","willTopic":"fan","willQos":"0","willRetain":"true","willPayload":"2"},{"id":"64eddb27.1f2974","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"7f53ffec.18c01","type":"ui_group","z":"","name":"ventilation","tab":"","disp":true,"width":"6","collapse":false},{"id":"8560cd37.c2d3d","type":"ui_group","z":"","name":"Rpi","tab":"","disp":true,"width":"6","collapse":false},{"id":"a70d02c0.085a5","type":"ui_tab","z":"","name":"Helix","icon":"fa-leaf","disabled":false,"hidden":false},{"id":"966a7529.c9d218","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"4dac6dbb.4eb3a4","type":"ui_spacer","name":"spacer","group":"","order":3,"width":1,"height":1},{"id":"4b068b0b.722c84","type":"ui_group","z":"","name":"Info","tab":"a70d02c0.085a5","order":1,"disp":true,"width":"6","collapse":false},{"id":"37544256.4fa08e","type":"ui_group","z":"","name":"Details","tab":"a70d02c0.085a5","disp":true,"width":"6","collapse":false},{"id":"818242b2.a428f","type":"ui_group","z":"","name":"History","tab":"a70d02c0.085a5","disp":true,"width":"6","collapse":true},{"id":"e496d4b4.ce8a78","type":"ui_tab","z":"","name":"Ampel","icon":"fa-leaf","order":4,"disabled":false,"hidden":false},{"id":"b6e06099.4a0b5","type":"ui_tab","z":"","name":"Suckulent","icon":"fa-leaf","order":3,"disabled":false,"hidden":false},{"id":"a1af2d61.93217","type":"ui_spacer","name":"spacer","group":"4b068b0b.722c84","order":1,"width":1,"height":1},{"id":"e3164818.0d3c78","type":"ui_group","z":"","name":"Info","tab":"e496d4b4.ce8a78","order":1,"disp":true,"width":"6","collapse":false},{"id":"fdf66880.b70ac8","type":"ui_group","z":"","name":"Info","tab":"b6e06099.4a0b5","order":1,"disp":true,"width":"6","collapse":false},{"id":"653c2a.f4d9c3d8","type":"ui_group","z":"","name":"Details","tab":"b6e06099.4a0b5","order":2,"disp":true,"width":"6","collapse":false},{"id":"9aa7f8b0.351348","type":"ui_group","z":"","name":"History","tab":"b6e06099.4a0b5","order":3,"disp":true,"width":"6","collapse":false},{"id":"332cab40.62fe04","type":"ui_group","z":"","name":"Details","tab":"e496d4b4.ce8a78","order":2,"disp":true,"width":"6","collapse":false},{"id":"104acd2b.b29613","type":"ui_group","z":"","name":"History","tab":"e496d4b4.ce8a78","order":3,"disp":true,"width":"6","collapse":false},{"id":"fdea3666.6f0cb8","type":"mqtt in","z":"e1a8313a.99fa6","name":"","topic":"vg/planta1/fukt/luft","qos":"2","broker":"23fcf9dc.f7e0f6","x":150,"y":480,"wires":[["5b8f684d.152ef8"]]},{"id":"f132543a.7093d8","type":"mqtt in","z":"e1a8313a.99fa6","name":"","topic":"vg/planta1/ljus","qos":"2","broker":"23fcf9dc.f7e0f6","x":140,"y":180,"wires":[["c52890c3.75fc2"]]},{"id":"bf1f22a7.e5198","type":"mqtt in","z":"e1a8313a.99fa6","name":"","topic":"vg/data","qos":"0","broker":"23fcf9dc.f7e0f6","x":150,"y":840,"wires":[["9d24ed6a.a1e51"]]},{"id":"9d24ed6a.a1e51","type":"json","z":"e1a8313a.99fa6","name":"","property":"payload","action":"","pretty":false,"x":330,"y":840,"wires":[[]]},{"id":"de3c0c07.46b76","type":"ui_text","z":"e1a8313a.99fa6","group":"37544256.4fa08e","order":2,"width":0,"height":0,"name":"","label":"Temp","format":"{{msg.payload | number:1}} &deg C","layout":"col-center","x":790,"y":620,"wires":[]},{"id":"ed0f15a6.988b38","type":"ui_template","z":"e1a8313a.99fa6","group":"4b068b0b.722c84","name":"livestream","order":4,"width":0,"height":0,"format":"<img src=\"http://130.239.114.168:1884/stream.mjpg\" width=\"640\" height=\"480\">\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":160,"wires":[[]]},{"id":"59f113a7.91940c","type":"http in","z":"e1a8313a.99fa6","name":"Test Web input","url":"/test","method":"get","upload":true,"swaggerDoc":"","x":360,"y":20,"wires":[[]]},{"id":"5c81f0e6.5d54a","type":"ui_template","z":"e1a8313a.99fa6","group":"4b068b0b.722c84","name":"description","order":3,"width":0,"height":0,"format":"<div id= \"descriptionbg\">\n    Plant 1: English Ivy, \n    <it>Hedera Helix</it>\n    <p>\n        Easy-to-grow climbing plant with dark green, leathery leaves. Excellent in trellis, in trees, on walls or as ground cover. Easy to use and modest. Thrives in well-drained soil. Toxic.\n\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":770,"y":120,"wires":[[]]},{"id":"a2069e5e.8cdf3","type":"ui_template","z":"e1a8313a.99fa6","group":"4b068b0b.722c84","name":"photoOfPlant1","order":2,"width":0,"height":0,"format":"\n<img id=\"korv\" src=\"https://images.unsplash.com/photo-1542347369-6fb75718485c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80\" >","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":80,"wires":[[]]},{"id":"788b16a4.ee72a8","type":"mqtt in","z":"e1a8313a.99fa6","name":"","topic":"vg/planta1/fukt/jord","qos":"2","broker":"23fcf9dc.f7e0f6","x":150,"y":360,"wires":[["d249d788.ec36b8"]]},{"id":"123dcfaf.5243b","type":"ui_chart","z":"e1a8313a.99fa6","name":"","group":"818242b2.a428f","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#28482e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":790,"y":680,"wires":[[],[]]},{"id":"6d89bbc6.df81d4","type":"ui_chart","z":"e1a8313a.99fa6","name":"","group":"818242b2.a428f","order":4,"width":0,"height":0,"label":"Moisture","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#2a4932","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":660,"y":400,"wires":[[],[]]},{"id":"4928ffe0.d1e6d","type":"ui_chart","z":"e1a8313a.99fa6","name":"","group":"818242b2.a428f","order":5,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"200","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#294530","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":760,"y":560,"wires":[[],[]]},{"id":"2e86f3a7.982bec","type":"ui_gauge","z":"e1a8313a.99fa6","name":"","group":"37544256.4fa08e","order":3,"width":0,"height":0,"gtype":"gage","title":"Ljus","label":"","format":"{{value | number:1}}%","min":"0","max":"100","colors":["#db7c79","#e4dd7b","#65b565"],"seg1":"50","seg2":"80","x":770,"y":220,"wires":[]},{"id":"c52890c3.75fc2","type":"function","z":"e1a8313a.99fa6","name":"lightToPercent()","func":"msg.payload = ((msg.payload - 2949)/(4095-2949))*100;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["2e86f3a7.982bec"]]},{"id":"3a9de627.eb391a","type":"ui_template","z":"97c87af6.fb6d28","group":"e3164818.0d3c78","name":"description","order":2,"width":0,"height":0,"format":"<div>\n    Plant 3: Spider plant, \n    <it>Chlorophytum comosum</it>\n    <p>\n        \n    Retro and very easy-care plant with long, narrow leaves with white middle band. Good air purifier. Thrives in bright to semi-shaded mode. Watered when the soil is still slightly moist.\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":730,"y":60,"wires":[[]]},{"id":"72959a1.3338664","type":"ui_template","z":"97c87af6.fb6d28","group":"e3164818.0d3c78","name":"photoOfPlant1","order":1,"width":0,"height":0,"format":"<img sizes=\"(max-width: 767px) 100vw, (max-width: 532px) 500px, (max-height: 554px) 500px, (min-aspect-ratio: 5767/3850) calc((calc(100vh - 220px)) * 1.49792), calc(100vw - 32px)\" srcset=\"https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=749&amp;q=80 749w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1049&amp;q=80 1049w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1349&amp;q=80 1349w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1498&amp;q=80 1498w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1649&amp;q=80 1649w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1949&amp;q=80 1949w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2098&amp;q=80 2098w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2249&amp;q=80 2249w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2549&amp;q=80 2549w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2698&amp;q=80 2698w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2849&amp;q=80 2849w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3149&amp;q=80 3149w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3298&amp;q=80 3298w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3449&amp;q=80 3449w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3749&amp;q=80 3749w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3898&amp;q=80 3898w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=4049&amp;q=80 4049w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=4349&amp;q=80 4349w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=4498&amp;q=80 4498w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=4649&amp;q=80 4649w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=4949&amp;q=80 4949w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5098&amp;q=80 5098w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5249&amp;q=80 5249w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5549&amp;q=80 5549w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5698&amp;q=80 5698w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5767&amp;q=80 5767w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5767&amp;q=80 5767w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5767&amp;q=80 5767w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5767&amp;q=80 5767w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5767&amp;q=80 5767w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5767&amp;q=80 5767w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5767&amp;q=80 5767w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5767&amp;q=80 5767w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5767&amp;q=80 5767w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5767&amp;q=80 5767w, https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5767&amp;q=80 5767w\" src=\"https://images.unsplash.com/photo-1486284449776-e511abec0dd5?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80\" class=\"_2zEKz\">\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":20,"wires":[[]]},{"id":"66fc54d1.36f14c","type":"ui_template","z":"b9a16896.7b85a8","group":"fdf66880.b70ac8","name":"description","order":2,"width":0,"height":0,"format":"<div>\n    Plant 2: Succulent, \n    <it>Succiilentus</it>\n    <p>\n        Easy-care, durable succulent with beautiful, blue-leaved leaves that sit in a dense bow. Thrives in bright location, preferably sun. Watered when the soil dried up, about every two weeks.\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":790,"y":60,"wires":[[]]},{"id":"db9c933.e50167","type":"ui_template","z":"b9a16896.7b85a8","group":"fdf66880.b70ac8","name":"photoOfPlant1","order":1,"width":0,"height":0,"format":"<img sizes=\"(max-width: 767px) 100vw, (max-width: 532px) 500px, (max-height: 554px) 500px, (min-aspect-ratio: 6000/4000) calc((calc(100vh - 220px)) * 1.5), calc(100vw - 32px)\" srcset=\"https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80 750w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80 1050w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1350&amp;q=80 1350w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1500&amp;q=80 1500w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1650&amp;q=80 1650w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80 1950w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2100&amp;q=80 2100w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2250&amp;q=80 2250w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2550&amp;q=80 2550w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2700&amp;q=80 2700w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2850&amp;q=80 2850w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3150&amp;q=80 3150w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3300&amp;q=80 3300w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3450&amp;q=80 3450w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3750&amp;q=80 3750w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=3900&amp;q=80 3900w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=4050&amp;q=80 4050w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=4350&amp;q=80 4350w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=4500&amp;q=80 4500w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=4650&amp;q=80 4650w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=4950&amp;q=80 4950w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5100&amp;q=80 5100w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5250&amp;q=80 5250w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5550&amp;q=80 5550w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5700&amp;q=80 5700w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=5850&amp;q=80 5850w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=6000&amp;q=80 6000w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=6000&amp;q=80 6000w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=6000&amp;q=80 6000w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=6000&amp;q=80 6000w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=6000&amp;q=80 6000w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=6000&amp;q=80 6000w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=6000&amp;q=80 6000w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=6000&amp;q=80 6000w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=6000&amp;q=80 6000w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=6000&amp;q=80 6000w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=6000&amp;q=80 6000w, https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=6000&amp;q=80 6000w\" src=\"https://images.unsplash.com/photo-1483794344563-d27a8d18014e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80\" alt=\"green plant\" class=\"_2zEKz\">\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":800,"y":20,"wires":[[]]},{"id":"ea185183.740fc","type":"inject","z":"e1a8313a.99fa6","name":"Get SQL Data","topic":"","payload":"1","payloadType":"num","repeat":"120","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":940,"wires":[["7290c0e5.4322a"]]},{"id":"7290c0e5.4322a","type":"mqtt out","z":"e1a8313a.99fa6","name":"","topic":"vg/post","qos":"","retain":"","broker":"23fcf9dc.f7e0f6","x":400,"y":940,"wires":[]},{"id":"45bc0d66.9cc0f4","type":"ui_gauge","z":"e1a8313a.99fa6","name":"","group":"37544256.4fa08e","order":3,"width":0,"height":0,"gtype":"gage","title":"Dryness","label":"","format":"{{value | number:1}}%","min":"0","max":"100","colors":["#71a776","#e4e085","#bc6a65"],"seg1":"50","seg2":"80","x":800,"y":361,"wires":[]},{"id":"5b8f684d.152ef8","type":"ui_gauge","z":"e1a8313a.99fa6","name":"","group":"37544256.4fa08e","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"","format":"{{value | number:1}}%","min":"0","max":"100","colors":["#cc8880","#e4de83","#72bb7d"],"seg1":"50","seg2":"80","x":780,"y":500,"wires":[]},{"id":"d249d788.ec36b8","type":"function","z":"e1a8313a.99fa6","name":"moistureToPercent()","func":"msg.payload = (msg.payload/(4095))*100;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":320,"wires":[["45bc0d66.9cc0f4"]]},{"id":"748d4c09.720414","type":"ui_chart","z":"e1a8313a.99fa6","name":"","group":"818242b2.a428f","order":3,"width":0,"height":0,"label":"Ljus","chartType":"line","legend":"false","xformat":"","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"200","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1e4023","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":260,"wires":[[],[]]},{"id":"ea9b4206.9096d","type":"mqtt in","z":"e1a8313a.99fa6","name":"","topic":"vg/planta1/temp","qos":"0","broker":"23fcf9dc.f7e0f6","x":180,"y":620,"wires":[["de3c0c07.46b76"]]},{"id":"a63e7bfe.caf998","type":"mqtt in","z":"e1a8313a.99fa6","name":"","topic":"vg/planta1/ljus1","qos":"2","broker":"23fcf9dc.f7e0f6","x":140,"y":240,"wires":[["748d4c09.720414"]]},{"id":"46a83a9a.d70ed4","type":"mqtt in","z":"e1a8313a.99fa6","name":"","topic":"vg/planta1/fukt/jord1","qos":"2","broker":"23fcf9dc.f7e0f6","x":150,"y":420,"wires":[["6d89bbc6.df81d4","d284368b.478698"]]},{"id":"ed627164.42bb2","type":"mqtt in","z":"e1a8313a.99fa6","name":"","topic":"vg/planta1/fukt/luft1","qos":"2","broker":"23fcf9dc.f7e0f6","x":150,"y":540,"wires":[["4928ffe0.d1e6d"]]},{"id":"d86b5546.bfc408","type":"mqtt in","z":"e1a8313a.99fa6","name":"","topic":"vg/planta1/temp1","qos":"0","broker":"23fcf9dc.f7e0f6","x":180,"y":660,"wires":[["123dcfaf.5243b"]]},{"id":"2ec293bc.315e0c","type":"mqtt in","z":"e1a8313a.99fa6","name":"vg/planta1/pump","topic":"vg/planta1/pump","qos":"0","broker":"74ce1230.88dc2c","x":190,"y":760,"wires":[[]]},{"id":"8767a38c.35f5a","type":"mqtt in","z":"97c87af6.fb6d28","name":"","topic":"vg/planta3/ljus","qos":"2","broker":"23fcf9dc.f7e0f6","x":180,"y":200,"wires":[["92bd9f3a.daf61"]]},{"id":"92bd9f3a.daf61","type":"function","z":"97c87af6.fb6d28","name":"lightToPercent()","func":"msg.payload = ((msg.payload - 2949)/(4095-2949))*100;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":180,"wires":[["c5b0a9e6.9ae388"]]},{"id":"c5b0a9e6.9ae388","type":"ui_gauge","z":"97c87af6.fb6d28","name":"","group":"332cab40.62fe04","order":3,"width":0,"height":0,"gtype":"gage","title":"Ljus","label":"","format":"{{value | number:1}}%","min":"0","max":"100","colors":["#c66471","#d8da87","#73b073"],"seg1":"50","seg2":"80","x":810,"y":240,"wires":[]},{"id":"9b6e7f2a.0e5bc","type":"ui_chart","z":"97c87af6.fb6d28","name":"","group":"104acd2b.b29613","order":3,"width":0,"height":0,"label":"Ljus","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1e4021","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":280,"wires":[[],[]]},{"id":"5f597efa.b45ce","type":"mqtt in","z":"97c87af6.fb6d28","name":"","topic":"vg/planta3/ljus1","qos":"2","broker":"23fcf9dc.f7e0f6","x":180,"y":260,"wires":[["9b6e7f2a.0e5bc"]]},{"id":"723b1d1f.456514","type":"function","z":"97c87af6.fb6d28","name":"moistureToPercent()","func":"msg.payload = (msg.payload/(4095))*100;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":320,"wires":[["e5b5e691.049218"]]},{"id":"e5b5e691.049218","type":"ui_gauge","z":"97c87af6.fb6d28","name":"","group":"332cab40.62fe04","order":3,"width":0,"height":0,"gtype":"gage","title":"Dryness","label":"","format":"{{value | number:1}}%","min":"0","max":"100","colors":["#63ab62","#e0df80","#c58a86"],"seg1":"50","seg2":"80","x":840,"y":380,"wires":[]},{"id":"d040a5b4.08d678","type":"ui_chart","z":"97c87af6.fb6d28","name":"","group":"104acd2b.b29613","order":4,"width":0,"height":0,"label":"Moisture","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#26482a","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":860,"y":440,"wires":[[],[]]},{"id":"22828e4e.323b92","type":"ui_gauge","z":"97c87af6.fb6d28","name":"","group":"332cab40.62fe04","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"","format":"{{value | number:1}}%","min":"0","max":"100","colors":["#c37475","#e4d692","#7db377"],"seg1":"50","seg2":"80","x":820,"y":520,"wires":[]},{"id":"160a220.27a60de","type":"ui_chart","z":"97c87af6.fb6d28","name":"","group":"104acd2b.b29613","order":5,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#22482e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":800,"y":580,"wires":[[],[]]},{"id":"c1792a3e.9bad28","type":"ui_text","z":"97c87af6.fb6d28","group":"332cab40.62fe04","order":2,"width":0,"height":0,"name":"","label":"Temp","format":"{{msg.payload | number:1}} &deg C","layout":"col-center","x":830,"y":640,"wires":[]},{"id":"f264089b.dd1cd8","type":"ui_chart","z":"97c87af6.fb6d28","name":"","group":"104acd2b.b29613","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#274629","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":830,"y":700,"wires":[[],[]]},{"id":"e75bca93.77ef18","type":"mqtt in","z":"97c87af6.fb6d28","name":"vg/planta1/pump","topic":"vg/planta3/pump","qos":"0","broker":"74ce1230.88dc2c","x":230,"y":780,"wires":[[]]},{"id":"636812e1.50beec","type":"inject","z":"97c87af6.fb6d28","name":"Get SQL Data","topic":"","payload":"1","payloadType":"num","repeat":"120","crontab":"","once":true,"onceDelay":0.1,"x":220,"y":960,"wires":[["5e72a042.248cf"]]},{"id":"5e72a042.248cf","type":"mqtt out","z":"97c87af6.fb6d28","name":"","topic":"vg/post","qos":"","retain":"","broker":"23fcf9dc.f7e0f6","x":440,"y":960,"wires":[]},{"id":"2c4893a1.a5617c","type":"mqtt in","z":"97c87af6.fb6d28","name":"","topic":"vg/planta3/temp1","qos":"0","broker":"23fcf9dc.f7e0f6","x":220,"y":680,"wires":[["f264089b.dd1cd8"]]},{"id":"cac11df6.06aa5","type":"mqtt in","z":"97c87af6.fb6d28","name":"","topic":"vg/planta3/temp","qos":"0","broker":"23fcf9dc.f7e0f6","x":220,"y":640,"wires":[["c1792a3e.9bad28"]]},{"id":"ce483697.659a28","type":"mqtt in","z":"97c87af6.fb6d28","name":"","topic":"vg/planta3/fukt/luft1","qos":"2","broker":"23fcf9dc.f7e0f6","x":190,"y":560,"wires":[["160a220.27a60de"]]},{"id":"aabe801.edb0f8","type":"mqtt in","z":"97c87af6.fb6d28","name":"","topic":"vg/planta3/fukt/luft","qos":"2","broker":"23fcf9dc.f7e0f6","x":190,"y":500,"wires":[["22828e4e.323b92"]]},{"id":"19c38e4a.163532","type":"mqtt in","z":"97c87af6.fb6d28","name":"","topic":"vg/planta3/fukt/jord1","qos":"2","broker":"23fcf9dc.f7e0f6","x":190,"y":440,"wires":[["d040a5b4.08d678","32972da5.bc5512"]]},{"id":"12f259d2.79d986","type":"mqtt in","z":"97c87af6.fb6d28","name":"","topic":"vg/planta3/fukt/jord","qos":"2","broker":"23fcf9dc.f7e0f6","x":190,"y":380,"wires":[["723b1d1f.456514"]]},{"id":"17d74da5.c4b132","type":"mqtt in","z":"b9a16896.7b85a8","name":"","topic":"vg/planta2/ljus","qos":"2","broker":"23fcf9dc.f7e0f6","x":280,"y":180,"wires":[["6a9dd0cd.4e5e7"]]},{"id":"6a9dd0cd.4e5e7","type":"function","z":"b9a16896.7b85a8","name":"lightToPercent()","func":"msg.payload = ((msg.payload - 2949)/(4095-2949))*100;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":160,"wires":[["663f016d.0c74d"]]},{"id":"663f016d.0c74d","type":"ui_gauge","z":"b9a16896.7b85a8","name":"","group":"653c2a.f4d9c3d8","order":3,"width":0,"height":0,"gtype":"gage","title":"Ljus","label":"","format":"{{value | number:1}}%","min":"0","max":"100","colors":["#f47478","#e9e487","#84cd7b"],"seg1":"50","seg2":"80","x":910,"y":220,"wires":[]},{"id":"9d4e5553.29aae8","type":"ui_chart","z":"b9a16896.7b85a8","name":"","group":"9aa7f8b0.351348","order":3,"width":0,"height":0,"label":"Ljus","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1c3c1c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":910,"y":260,"wires":[[],[]]},{"id":"f240ae77.21d29","type":"mqtt in","z":"b9a16896.7b85a8","name":"","topic":"vg/planta2/ljus1","qos":"2","broker":"23fcf9dc.f7e0f6","x":280,"y":240,"wires":[["9d4e5553.29aae8"]]},{"id":"4acc335.9f764cc","type":"function","z":"b9a16896.7b85a8","name":"moistureToPercent()","func":"msg.payload = (msg.payload/(4095))*100;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":320,"wires":[["eb1f3727.3a2f18"]]},{"id":"eb1f3727.3a2f18","type":"ui_gauge","z":"b9a16896.7b85a8","name":"","group":"653c2a.f4d9c3d8","order":3,"width":0,"height":0,"gtype":"gage","title":"Dryness","label":"","format":"{{value | number:1}}%","min":"0","max":"100","colors":["#ba6569","#c7d06b","#6aac74"],"seg1":"50","seg2":"80","x":940,"y":360,"wires":[]},{"id":"7cc56513.a6f9ac","type":"ui_chart","z":"b9a16896.7b85a8","name":"","group":"9aa7f8b0.351348","order":4,"width":0,"height":0,"label":"Moisture","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1a4122","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":800,"y":400,"wires":[[],[]]},{"id":"50202e7f.f5ebf","type":"ui_gauge","z":"b9a16896.7b85a8","name":"","group":"653c2a.f4d9c3d8","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"","format":"{{value | number:1}}%","min":"0","max":"100","colors":["#6dac60","#e4e385","#c67876"],"seg1":"50","seg2":"80","x":920,"y":500,"wires":[]},{"id":"f88d5872.d0ea58","type":"ui_chart","z":"b9a16896.7b85a8","name":"","group":"9aa7f8b0.351348","order":5,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#204e25","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":900,"y":560,"wires":[[],[]]},{"id":"d256bdd4.02ae5","type":"ui_text","z":"b9a16896.7b85a8","group":"653c2a.f4d9c3d8","order":2,"width":0,"height":0,"name":"","label":"Temp","format":"{{msg.payload | number:1}} &deg C","layout":"col-center","x":930,"y":620,"wires":[]},{"id":"55230513.b94c0c","type":"ui_chart","z":"b9a16896.7b85a8","name":"","group":"9aa7f8b0.351348","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#224d2a","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":930,"y":680,"wires":[[],[]]},{"id":"cec40898.c1cf18","type":"mqtt in","z":"b9a16896.7b85a8","name":"vg/planta1/pump","topic":"vg/planta2/pump","qos":"0","broker":"74ce1230.88dc2c","x":330,"y":760,"wires":[[]]},{"id":"97c8bf0f.e25bd","type":"inject","z":"b9a16896.7b85a8","name":"Get SQL Data","topic":"","payload":"1","payloadType":"num","repeat":"120","crontab":"","once":true,"onceDelay":0.1,"x":320,"y":940,"wires":[["b277a81.1734d58"]]},{"id":"b277a81.1734d58","type":"mqtt out","z":"b9a16896.7b85a8","name":"","topic":"vg/post","qos":"","retain":"","broker":"23fcf9dc.f7e0f6","x":540,"y":940,"wires":[]},{"id":"64537a2a.d05764","type":"mqtt in","z":"b9a16896.7b85a8","name":"","topic":"vg/planta2/temp1","qos":"0","broker":"23fcf9dc.f7e0f6","x":320,"y":660,"wires":[["55230513.b94c0c"]]},{"id":"c6ddfccd.69602","type":"mqtt in","z":"b9a16896.7b85a8","name":"","topic":"vg/planta2/temp","qos":"0","broker":"23fcf9dc.f7e0f6","x":320,"y":620,"wires":[["d256bdd4.02ae5"]]},{"id":"a4b32c85.14fb3","type":"mqtt in","z":"b9a16896.7b85a8","name":"","topic":"vg/planta2/fukt/luft1","qos":"2","broker":"23fcf9dc.f7e0f6","x":290,"y":540,"wires":[["f88d5872.d0ea58","f1ebfd5c.b181f"]]},{"id":"8da0419f.2eb1e","type":"mqtt in","z":"b9a16896.7b85a8","name":"","topic":"vg/planta2/fukt/luft","qos":"2","broker":"23fcf9dc.f7e0f6","x":290,"y":480,"wires":[["50202e7f.f5ebf"]]},{"id":"37576683.40f1da","type":"mqtt in","z":"b9a16896.7b85a8","name":"","topic":"vg/planta2/fukt/jord1","qos":"2","broker":"23fcf9dc.f7e0f6","x":290,"y":420,"wires":[["7cc56513.a6f9ac"]]},{"id":"7c743c16.2b2014","type":"mqtt in","z":"b9a16896.7b85a8","name":"","topic":"vg/planta2/fukt/jord","qos":"2","broker":"23fcf9dc.f7e0f6","x":290,"y":360,"wires":[["4acc335.9f764cc"]]},{"id":"b6302e70.964aa","type":"ui_text","z":"b9a16896.7b85a8","group":"9aa7f8b0.351348","order":1,"width":0,"height":0,"name":"date","label":"Start date: ","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":320,"wires":[]},{"id":"4b575d9.15245a4","type":"mqtt in","z":"b9a16896.7b85a8","name":"","topic":"vg/date","qos":"2","broker":"23fcf9dc.f7e0f6","x":930,"y":300,"wires":[["b6302e70.964aa"]]},{"id":"c3a9db45.af4db8","type":"mqtt in","z":"97c87af6.fb6d28","name":"","topic":"vg/date","qos":"2","broker":"23fcf9dc.f7e0f6","x":610,"y":120,"wires":[["e9c37b8b.ef6918"]]},{"id":"e9c37b8b.ef6918","type":"ui_text","z":"97c87af6.fb6d28","group":"104acd2b.b29613","order":1,"width":0,"height":0,"name":"date","label":"Start date: ","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":140,"wires":[]},{"id":"f3791353.79d67","type":"mqtt in","z":"e1a8313a.99fa6","name":"","topic":"vg/date","qos":"2","broker":"23fcf9dc.f7e0f6","x":990,"y":200,"wires":[["95885b20.ab2a18"]]},{"id":"95885b20.ab2a18","type":"ui_text","z":"e1a8313a.99fa6","group":"818242b2.a428f","order":1,"width":0,"height":0,"name":"date","label":"Start date: ","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":240,"wires":[]},{"id":"d284368b.478698","type":"debug","z":"e1a8313a.99fa6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":440,"wires":[]},{"id":"32972da5.bc5512","type":"debug","z":"97c87af6.fb6d28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":360,"wires":[]},{"id":"f1ebfd5c.b181f","type":"debug","z":"b9a16896.7b85a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":440,"wires":[]},{"id":"c37d507.c47d7b","type":"mqtt in","z":"97c87af6.fb6d28","name":"","topic":"vg/data","qos":"2","broker":"39fba7c.ea4ee58","x":130,"y":320,"wires":[["9b6e7f2a.0e5bc","160a220.27a60de","f264089b.dd1cd8","32972da5.bc5512","62aef874.414f88"]]},{"id":"62aef874.414f88","type":"function","z":"97c87af6.fb6d28","name":"reset()","func":"msg.playload = '{[]}'; \nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["d040a5b4.08d678","32972da5.bc5512"]]}]